body{
	height: 100vh;
	background-image: url('../images/friends-bg.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
    background-color:black;
    font-size:1em;
    font-family: Verdana, Tahoma, sans-serif;
}

.friend-form
{
    margin-top: 5vh;
    opacity: 1;
}


.form-container
{
    margin-top: 5vh;
    opacity: 1;
}

.form_text
{

    font-size:0.8em;
    font-weight:normal;
}

.form_header
{
    font-size:0.9em;
    color:teal;
    font-weight:300;
}

.q
{
    font-size:1em;
    color:teal;
    font-weight:bold;
}
