body{
	height: 100vh;
	/* background-image: url('../images/friends-bg.jpg'); */
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
    background-color:black;
    font-size:1em;
    font-family: Verdana, Tahoma, sans-serif;
}

.friend-form
{
    margin-top: 2vh;
    opacity: 0.7;
     background-image: url('../images/bg-2.jpeg'); 
    /* background-image:url('../images/friends-bg2.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    height:100%;
     background-position: left;
}


.form-container
{
    margin-top: 5vh;
    opacity: 0.9;
}

.form_text
{

    font-size:0.9em;
    font-weight:normal;
}

.form_header
{
    font-size:1em;
    color:teal;
    font-weight:300;
}

.q
{
    font-size:1em;
    color:teal;
    font-weight:bold;
}
